<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body style="text-align: center">
    <h2>(-o-)----->   ?  (-o-)</h2>
    
    <form action="/jugar" method="POST">
    <h1> <%= session["mensaje"] %></h1>
       
    Coordenada 1 <select name="c1" id="c1" >
        <option value="0">0</option>
        <option value="1">1</option>
    </select>
    <br/>
    Coordenada 2 <select name="c2" id="c1">
            <option value="0">0</option>
            <option value="1">1</option>
    </select>
    <br/>
    Coordenada 3 <select name="c3" id="c1">
            <option value="0">0</option>
            <option value="1">1</option>
    </select>
    <br>
    <br>
    <input type="submit" value="DISPARAR --&gt;">

    </form>
    <br>
    <h2>(-o-)   (-o-)   (-o-)   (-o-)   (-o-)  (-o-)</h2>
</body>
</html>